exportPattern("^[[:alpha:]]+")
export(initGUI)
import(ggplot2)
import(tidyverse)
import(readxl)
import(shiny)
import(shinyjs)
import(shinyWidgets)
import(openxlsx)
importFrom("stats", "qnorm", "qt", "sd", "setNames")
importFrom("utils", "data", "read.csv", "tail", "write.csv")
